﻿@page "/tx"

@using BlazorApp.Data;
@using BlazorApp.Models;
@inject CustomHttpClient Http
@inject AppSettingsService AppSettingsService
<div class="container">
    <h4>
        Transaction Details
    </h4>
    <hr />
    @if (name == null) { }
    else
    {
        <dl class="row">

            <dt class="col-sm-2 pb-3">
                Transaction Hash:

            </dt>
            <dd class="col-sm-10 pb-3">
              @name.TransactionHash
            </dd>

            <dt class="col-sm-2 pb-3">
                Status:
            </dt>
            <dd class="col-sm-10 pb-3">
                @name.Status
            </dd>

            <dt class="col-sm-2 pb-3">
                Block:
            </dt>
            <dd class="col-sm-10 pb-3">
                @name.BlockNumber
            </dd>
            <dt class="col-sm-2 pb-3">
                Timestamp:
            </dt>
            <dd class="col-sm-10 pb-3">

            </dd>
            <dt class="col-sm-2 pb-3">
                From:
            </dt>
            <dd class="col-sm-10 pb-3">
                @name.From
            </dd>
            <dt class="col-sm-2 pb-3">
                To:
            </dt>
            <dd class="col-sm-10 pb-3">
                @name.To
            </dd>
            <dt class="col-sm-2 pb-3">
                Transaction Action:
            </dt>
            <dd class="col-sm-10 pb-3">

            </dd>
            <dt class="col-sm-2 pb-3">
                Value:
            </dt>
            <dd class="col-sm-10 pb-3">

            </dd>
            <dt class="col-sm-2 pb-3">
                Transaction Fee:
            </dt>
            <dd class="col-sm-10 pb-3">

            </dd>
            <dt class="col-sm-2 pb-3">
                Gas Price:
            </dt>
            <dd class="col-sm-10 pb-3">

            </dd>
            <dt class="col-sm-2 pb-3">
                Ether Price:
            </dt>
            <dd class="col-sm-10 pb-3">

            </dd>
            <dt class="col-sm-2 pb-3">
                Gas Limit:
            </dt>
            <dd class="col-sm-10 pb-3">

            </dd>
            <dt class="col-sm-2 pb-3">
                Gas Used by Transaction:
            </dt>
            <dd class="col-sm-10 pb-3">
                @name.GasUsed
            </dd>
            <dt class="col-sm-2 pb-3">
                Nonce
            </dt>
            <dd class="col-sm-10 pb-3">

            </dd>
            <dt class="col-sm-2 pb-3">
                Input Data:
            </dt>
            <dd class="col-sm-10 pb-3">

            </dd>
        </dl>
    }
    <div>
        <button type="button" class="btn btn-secondary mb-5" onclick="window.location.href='/'">Back</button>
    </div>
</div>

@code {
    TransactName name;
    string baseUrl;
    protected async override Task OnInitializedAsync()
    {

        baseUrl = AppSettingsService.GetBaseUrl();
        name = await Http.GetJsonAsync<TransactName>(baseUrl + "transaction/details");
    }
}
