﻿
@page "/"
@using BlazorApp.Data;
@using BlazorApp.Models;
@using BlazorApp.ViewModels;
@inject CustomHttpClient Http
@inject AppSettingsService AppSettingsService
<div class="container">
    <div class="mb-0">
        <span class="h5">
            Address
            <span class="h6" style="color: gray;">@TransactAddress.Address</span>
        </span>
    </div>
    <hr />
    <span id="loadings">
        <img id="loading" class="ml-auto mr-auto mt-auto mb-auto" style="display: block;" />
    </span>
    <div id="tabb">
        @if (name == null) { }
        else if (name.TransactAddresses.Count == 0 || name.TransactAddresses == null)
        {
            <h2 class="text-center">Еще ничего не найдено</h2>
        }
        else
        {
            <table class="table table-hover mt-5">
                <thead>
                    <tr>
                        <th>#</th>
                        <th scope="col">Txn Hash</th>
                        <th scope="col">Method</th>
                        <th scope="col">Block</th>
                        <th scope="col">Age</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Value</th>
                        <th scope="col">Txn Fee</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var txt in name.TransactAddresses)
                    {
                        <tr>
                            <th scope="row">@txt.Id</th>
                            <td style="max-width: 167px; overflow: hidden; text-overflow: ellipsis;"><a href="/tx" id="kk" onclick="eventForm22(this.textContent)">@txt.Hash</a></td>
                            <td style="max-width: 0px; overflow: hidden; text-overflow: ellipsis;">@txt.Input</td>
                            <td>@txt.BlockNumber</td>
                            <td>None</td>
                            <td style="max-width: 167px; overflow: hidden; text-overflow: ellipsis;">@txt.From</td>
                            <td style="max-width: 167px; overflow: hidden; text-overflow: ellipsis;">@txt.To</td>
                            <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis;">@txt.Value</td>
                            <td>@txt.TxnFee.ToString().TrimEnd('0')</td>
                        </tr>
                    }
                </tbody>
            </table>
            <hr />
            <ul class="pagination">            
                    @{ 
                        var prevDisabled = name.PageViewModel.HasPreviousPage == false ? "disabled" : "";
                        var nextDisabled = name.PageViewModel.HasNextPage == false ? "disabled" : "";
                    }
                <li class="page-item mr-2">
                    <a onclick="Prev()" class="btn page-link page @prevDisabled" style="cursor: pointer;">Previous</a>
                </li>
                <li class="page-item ml-2">
                    <a onclick="Next()" class="btn page-link page @nextDisabled"  style="cursor: pointer;">Next</a>
                </li>
            </ul>                    
          }
    </div>
    </div>

@code {
    TransactAddressViewModel name;
    string baseUrl;
    protected async override Task OnInitializedAsync()
    {

        baseUrl = AppSettingsService.GetBaseUrl();
        name =  await Http.GetJsonAsync<TransactAddressViewModel>(baseUrl + $"transaction/index");
    }

}