﻿@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <nav class="navbar navbar-light bg-light justify-content-between">
            <div class="container">
                <a class="navbar-brand" href="/">Etherscan</a>
                <button class="btn btn-dark p-1" type="submit" onclick="start()">Connect to metamask</button>
                <form class="form-inline" name="publish">
            <input class="form-control mr-sm-2 p-4" style="width: 630px;" type="search" placeholder="Search" aria-label="Search" id="k55">
            <input class="btn btn-outline-success my-2 my-sm-0 p-2" type="button" onclick="eventForm($('#k55').val())" value="Search" />
        </form>
            </div>
        </nav>
        <div class="content px-4">
            @Body
        </div>
  
    </div>
</div>